server:
  port: 19099

spring:
  profiles:
    active: local
  application:
    name: order-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/

gateway:
 base-url: ${GATEWAY_URL:http://gateway-service}