server:
  port: 19091  # 게이트웨이 서비스가 실행될 포트 번호

spring:
  main:
    web-application-type: reactive  # Spring 애플리케이션이 리액티브 웹 애플리케이션으로 설정됨
  application:
    name: gateway-service  # 애플리케이션 이름을 'gateway-service'로 설정
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: order-service  # 라우트 식별자
              uri: lb://order-service  # 'order-service'라는 이름으로 로드 밸런싱된 서비스로 라우팅
              predicates:
                - Path=/v1/orders/**  # /v1/orders/** 경로로 들어오는 요청을 이 라우트로 처리
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/v1/products/**
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/v1/users/**
            - id: delivery-service
              uri: lb://delivery-service
              predicates:
                - Path=/v1/deliveries/**
            - id: company-service
              uri: lb://company-service
              predicates:
                - Path=/v1/companies/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/  # Eureka 서버의 URL을 지정
