server:
  port: 19091

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:19090/eureka/


jwt:
  secret-key: ${KEY}

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/v1/orders/**

            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/v1/products/**

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/v1/users/**

            - id: delivery-service
              uri: lb://delivery-service
              predicates:
                - Path=/v1/deliveries/**

            - id: company-service
              uri: lb://company-service
              predicates:
                - Path=/v1/companies/**

            - id: hub-service
              uri: lb://hub-service
              predicates:
                - Path=/v1/hubs/**