spring:
  application:
    name: company-service

  datasource:
    url: jdbc:postgresql://localhost:5432/delivery_signal
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234

  jpa:
    properties:
      hibernate:
        default_schema: company
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/

server:
  port: 19095

internal:
  hub:
    url: http://localhost:19093
  user:
    url: http://localhost:19092

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui

