version: "3.8"

services:
  db:
    image: postgres:17.6
    container_name: postgres-docker-delivery-signal
    environment:
      POSTGRES_DB: delivery_signal
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: