server:
  port: 19092

spring:
  profiles:
    active: local

  application:
    name: user


eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/



# DB : deliverey_signal
# DB-Password :